{% include "_actor_core.j2" %}


{% include "_actor_answer.j2" %}


Something just reached you. Respond to that immediate change with the response time and attempts available here. You may keep your previous attempt if it still makes sense. There is no time for extended reconsideration or recollection.
